<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ticket for Flight <%= flight._id %></title>
</head>

<body>
    <% /*
    <form action="flight.<%= flight._id %>/tickets/new" method="POST">
    <input name="seat" placeholder="Enter between A1-F99" required pattern="[A-F][1-9]\d?">
    <input type="number" name="price" min="0">
    <input type="submit" value="Add Ticket">
    </form>
    */ %>
</body>

</html>